recetas.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="recetas">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="receta" name="receta" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="receta">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="categoria" type="xs:string"/>
            <xs:element name="tiempo" type="xs:integer"/>
            <xs:element name="dificultad" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="codigo"/>
    </xs:complexType>
</xs:schema>